<div class="container">
  <h1> Jogo da vida </h1>

  <div class="subcontainer">
    <h2> Sobre o jogo da vida: </h2>
    <p class ="reference"> Texto fornecido pela Rota das Oficinas para a etapa de teste de programação.</p>
    <p> O jogo da vida é um autómato celular desenvolvido pelo matemático britânico John
      Horton Conway em 1970. É o exemplo mais bem conhecido de autômato celular. O jogo foi
      criado de modo a reproduzir, através de regras simples, as alterações e mudanças em grupos
      de seres vivos, tendo aplicações em diversas áreas da ciência. As regras definidas são
      aplicadas a cada nova "geração" a partir de um tabuleiro bi-dimensional definido pelo jogador.
    </p>
    <h3> As regras do jogo são: </h3>

    <p>- Qualquer espaço vazio com exatamente três vizinhos vivos se torna uma célula viva. Ex:</p>
    <img src="../../../assets/imagens/game-first-step.JPG" alt="primeira imagem do jogo"/>

    <p>- Qualquer célula viva com menos de dois vizinhos vivos morre de solidão. Ex:</p>
    <img src="../../../assets/imagens/game-second-step.JPG" alt="segunda imagem do jogo"/>

    <p>- Qualquer célula viva com mais de três vizinhos vivos morre de superpopulação. Ex: </p>
    <img src="../../../assets/imagens/game-third-step.JPG" alt="terceira imagem do jogo"/>

    <p>- Qualquer célula viva com dois ou três vizinhos vivos continua viva para a próxima
      geração. Ex:
    </p>
    <img src="../../../assets/imagens/game-fourth-step.JPG" alt="quarta imagem do jogo"/>
  </div>

  <h2 class="element-line-text"> Game Of Life </h2>

  <div class="card">
    <div class="content">
      <h3> Tabuleiro </h3>
      <div class="game">
        <div class="row" *ngFor="let row of numRows | numToArr">
          <div class="col" *ngFor="let col of numCols | numToArr">
            <button (click)="onClick(row,col)" [ngClass]="{alive: board.status(row, col) ===1}"> </button>
          </div>
        </div>
      </div>

      <div class="info">
        <button id="read_button"  (click)="onClickPause()"> Pausar</button>
        <button id="read_button"  (click)="onClickStart()"> Iniciar</button>
      </div>

    </div>
  </div>







</div>





