<header>
  <div class = "conatiner-header">
    <img src="../../../assets/imagens/logo-my-project.png" alt="Logo"/>
      <ul class="list-menu">
        <li class="list-menu-item"><a routerLink="/" class="list-menu-link"> Início </a> </li>
        <li class="list-menu-item"><a routerLink="/converter" class="list-menu-link"> Tarefa 1</a></li>
        <li class="list-menu-item"><a routerLink="/game" class="list-menu-link">Tarefa 2</a></li>
        <li class="list-menu-item"><a routerLink="/restaurant-calculator" class="list-menu-link"> Tarefa 3</a></li>
      </ul>
  </div>
</header>
