<div class="container">
  <h1>  Divisor de conta de restaurante </h1>

  <div class="subcontainer">
    <h2> Sobre a calculadora: </h2>
    <p class ="reference"> Texto fornecido pela Rota das Oficinas para a etapa de teste de programação.(adaptado)</p>
    <p> A calculadora divisora de conta de restaurante é capaz de dividir a conta de um estabelecimento para cada cliente considerando somente o consumido por cada um.</p>
    <p> Para realizar o cálculo ela realiza a divisão de uma conta por vez. Além disso, é possível:</p>
    <p> - Inserir múltiplos produtos e clientes; </p>
    <p> - Um cliente pode ter consumido vários, um ou nenhum produto; </p>
    <p> - Um produto pode ter sido consumido por vários ou um cliente; </p>
    <p> - Verificar a inclusão dos 10% do serviço para cada pessoa individualmente,sendo a taxa aplicada ao valor que cada um gastou.</p>
    <h2>Como utilizar:</h2>
    <p> 1° Adicione um ou mais produtos ao menu; </p>
    <p> 2° Adicione um ou mais produtos do menu a mesa; </p>
    <p> 3° Adicione um ou mais clientes a mesa; </p>
    <p> 1° Selecione quais produtos cada cliente consumiu e calcule o valor a pagar. </p>
  </div>
  <div class="text">
    <h2 class="element-line-text"> Calculadora </h2>
  </div>

  <div class="grupo-card">
    <div class="card ">
      <button class="button-include" (click)="openModal('product')"> Adicionar Produto </button>
      <h3>Menu </h3>
      <div class="divTable">
        <table>
          <thead>
            <tr class="menu">
              <th>Produto</th>
              <th> Valor</th>
              <th>  </th>
            </tr>
          </thead>
          <thead class="itens" *ngFor="let produto of produtos">
            <tr>
              <th>{{produto.name}}</th>
              <th>{{produto.price | currency:'BRL':'symbol':'1.2-2'}} </th>
              <th id="button-add-mesa">  <button (click)="addMesa(produto)"> Add Mesa </button>
                <button id="button-delete" (click)="deleteProduto(produto)"> Excluir </button>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="modal-box">
        <div class="modal-container">
        <h3>Cadastro de produtos</h3>
        <label for="nome-produtol"> Produto</label>
        <input type="text" [(ngModel)]="nomeproduto" id="nome-produtol">
        <label for="tipo-produtol"> Valor</label>
        <input type="number" min="0.00" max="10000.00" step="0.01" [(ngModel)]="precoproduto" id="tipo-produtol">
        <div class="center-button">
          <button class="button-add"(click)="adicionaProduto()">Adicionar</button>
        </div>
        </div>
      </div>
    </div>

    <!-- Mesa -->

    <div class="card">
      <h3>Mesa </h3>
      <div class="divTable">
        <table>
          <thead>
            <tr class="menu">
              <th> </th>
              <th> </th>
              <th> </th>
              <th> Clientes
                <button id="more" (click)="openModal('client')"> + </button>
              </th>
            </tr>
          </thead>
          <thead>
            <tr class="menu">
              <th>Produto</th>
              <th> Valor</th>
              <th> </th>
              <th>
                <tr id="list-consumer" *ngFor="let cliente of clientes" >
                  {{cliente.name}}
                </tr>
              </th>
            </tr>
          </thead>
          <thead class="itens" *ngFor="let produtomesa of produtomesas">
            <tr>
              <th>{{produtomesa.name}}</th>
              <th> {{produtomesa.price | currency:'BRL':'symbol':'1.2-2'}} </th>
              <th> <button id="button-delete" (click)="deleteProdutoMesa(produtomesa)"> Excluir </button></th>
              <th>
                <tr id="list-checkbox" *ngFor="let cliente of clientes" >
                    <input type="checkbox" (click)="buildFram()" id="checkbox-{{cliente.name}}-{{produtomesa.id}}">
                </tr>
              </th>
            </tr>
          </thead>
          <thead>
            <tr class="menu">
              <th> Taxa </th>
              <th> 10% </th>
              <th></th>
              <th>
                <tr id="list-checkbox" *ngFor="let cliente of clientes" >
                  <input type="checkbox"id="checkbox-taxa-{{cliente.name}}" >
                </tr>
              </th>
            </tr>
          </thead>
        </table>
        <div class="center-button">
          <button class="button-add" (click)="calcularValorPagoPorCliente()">Calcular</button>
        </div>
      </div>

      <div class="modal-box-client" id="modal-box-client">
        <div class="modal-container-client">
        <h3>Cadastro de Clientes</h3>
        <label for="nome-cliente">Nome:</label>
        <input type="text" [(ngModel)]="nomecliente" id="nome-cliente">
        <div class="center-button">
          <button class="button-add" (click)="addCliente()">Adicionar</button>
        </div>
        </div>
      </div>
    </div>

    <!-- Conta  -->

    <div class="card">
      <h3> Valor a Pagar </h3>
      <div class="divTable">
        <table>
          <thead>
            <tr class="menu">
              <th> Cliente</th>
              <th> Subtotal </th>
              <th> <b>Total </b> </th>
            </tr>
          </thead>
          <thead class="itens">
            <tr *ngFor="let clientetotal of listaTotal">
              <th id="nome-cliente">{{clientetotal.nome}}</th>
              <th id ="subtotal"> {{clientetotal.subtotal | currency:'BRL':'symbol':'1.2-2'}}</th>
              <th id="total">{{clientetotal.total| currency:'BRL':'symbol':'1.2-2'}}</th>
            <tr>
          </thead>
        </table>
      </div>
    </div>

  </div>

</div>
