.element-line-text::after{
  content: '';
  display: block;
  width: 9.5rem;
  height: 0.4rem;
  background-color: #fdbf01;
  margin: 2px auto;
  position: absolute;
  border-radius: 10px;
}

.text{
  margin: 10px;
}

.modal-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal-box.active {
  color: white;
  margin-bottom: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal-container {
display: grid;
grid-auto-rows: 30px;
background-color: rgba(196, 193, 193, 0.6);
padding: 15px;
border-radius: 15px;
min-width:220px ;
max-width:450px ;
min-height: 220px;
}
.modal-container label{
  margin-top: 5px;
  padding: 5px;
}

.modal-container button{
  margin-top: 20px;

}

.modal-box input {
  box-shadow: 0 5px 0 #242724 ;
}

.modal-box-client {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal-box-client.active {
  color: white;
  margin-bottom: 80%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal-container-client {
display: grid;
grid-auto-rows: 30px;
background-color: rgba(196, 193, 193, 0.6);
padding: 15px;
border-radius: 15px;
min-width:220px ;
max-width:450px ;
min-height: 170px;
}
.modal-container-client label{
  margin-top: 5px;
  padding: 5px;
}

.modal-container-client button{
  margin-top: 20px;

}
.modal-box-client input {
  box-shadow: 0 5px 0 #242724 ;
}


.center-button{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.button-add{
  background-color: #fdbf01 ;
  color: black;
  width: 200px;
  height: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 25px;
  background-color: rgba(65, 61, 58);
  text-align: justify;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.385);
  position: relative;
  align-items: flex-start;
}


h3{
  color: #92C67A;
  text-align: center;
  margin: 5px;
}

.menu{
  color: #fdbf01;
}

.itens{
  color:#b7b7b7;
}

th{
  padding-left: 20px;
}

#button-add-mesa{
  text-align: center;
}

#button-add-mesa button{
  width: 47px;
}

#button-delete {
  width: 47px;
}
#button-delete:hover {
  background-color: #da2b14;
  color: white;
}

button{
  cursor: pointer;
}
.button-include{
  background-color: #fdbf01 ;
  color: black;
  width: 120px;
}

.button-include:hover{
  background-color: #92C67A ;
}


th button{
  background-color: #b7b7b7 ;
  color: black;
}

th button:hover{
  background-color: #92C67A ;
}

#more{
  background-color: #77e942 ;
  width: 25px;
  height: 25px;
  font-size: 20px;
}

#more:hover{
  background-color: #fdbf01 ;
}


#list-consumer{
  display: inline-flex;
  margin-left: 1.2em;
  align-items:center ;
}

#list-checkbox{
  display: inline-flex;
  justify-content: space-between;
  margin-left: 2.5em;
}
