
<section class = "container-banner">
  <div class = "subcontainer-banner">
    <div class="container-texts">
      <h1> Seja bem-vindo(a) ao meu Teste de Programação!  </h1>
      <p class="subtitle"> Teste proposto pela Rota das Oficinas. </p>
    </div>
    <div>
      <img class="image-banner" src="../../../assets/imagens/banner.png" alt="banner"/>
    </div>
  </div>
</section>


<section class="container">
  <h2 class="element-line-text"> Tarefas do desafio </h2>

  <div class="grupo-card">
    <div class="card">
        <div class="icon">
          <img src="../../../assets/imagens/number.png" alt="imagem dos números romanos"/>
        </div>
        <div class="content">
            <h3>Conversor de Números romanos</h3>
            <p> Aqui você terá acesso ao conversor de números romanos para arábicos e vice-versa.</p>
        </div>
        <button id="read_button" routerLink="/converter">Saiba Mais</button>
    </div>

    <div class="card">
        <div class="icon">
            <img src="../../../assets/imagens/game.jpg" alt="imagem do jogo da vida de conway"/>
        </div>
        <div class="content">
            <h3>Jogo da vida </h3>
            <p> Aqui você terá acesso ao tabuleiro interativo do jogo da vida de Conway.</p>
        </div>
        <button id="read_button" routerLink="/game">Saiba Mais</button>
    </div>

    <div class="card">
        <div class="icon">
            <img src="../../../assets/imagens/restaurantCalculator.PNG" alt="imagem do registro de conta"/>
        </div>
        <div class="content">
            <h3>Divisor de conta de restaurante.</h3>
            <p> Aqui você terá acesso a Divisor de conta de restaurante.</p>
        </div>
        <button id="read_button" routerLink="/restaurant-calculator">Saiba Mais</button>
    </div>
</div>

</section>


